<header>
  <div
    class="hidden md:block h-12 bg-gradient-to-b from-green-500 to-green-600"
  >
    <!-- Address & email go here -->
  </div>
  <nav
    class="2xl:container mx-auto h-24 md:h-[7.5rem] pt-4 pl-2 md:pt-2 md:pl-4"
  >
    <img
      class="w-16 h-16 md:w-24 md:h-24 rounded-full"
      src="/assets/img/logo.jpeg"
      alt=""
    />
    <!-- Mobile menu button -->
    <div class="hidden md:block">
      <!-- Normal menu -->
    </div>
    <div class="md:hidden">
      <!-- Mobile menu -->
      <!-- Address & email go here -->
    </div>
  </nav>
</header>
