<a
  class="hidden lg:block p-5 py-3 uppercase text-lg font-medium rounded-lg {% if include.active %} bg-green-500 text-white {% else %} text-gray-400 hover:ring hover:ring-green-400 {% endif %}"
  href="{{ include.url }}"
>
  {{ include.title }}
</a>

<a
  class="block lg:hidden text-center p-5 py-3 uppercase font-medium rounded-md ring {% if include.active %} ring-green-500 bg-green-500 text-white {% else %} text-gray-400 ring ring-gray-100 {% endif %}"
  href="{{ include.url }}"
>
  {{ include.title }}
</a>
