<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>
      Dott. Cosimo Giuseppe Comparini · Psicologo · Cesena · {{ page.title }}
    </title>

    <link href="/styles.css" rel="stylesheet" />
  </head>

  <body>
    <div class="flex flex-col min-h-screen bg-gray-50">
      {% include header.html %}
      <main class="flex-grow">{{ content }}</main>
      {% comment %}<!-- prettier-ignore -->{% endcomment %}
      {% include footer.html %}
      {% comment %}
      {% include _debug.html %}
      {% endcomment %}
    </div>
  </body>
</html>
