<!-- prettier-ignore -->
{% assign path = "/quotes/" | append: page.quote %}
{% assign quote = site.quotes | find:"id", path %}

<div class="{{ page.bg-color }} py-12 md:py-28">
  <div
    class="2xl:container mx-auto px-4 md:grid md:grid-cols-3 md:gap-4 space-y-3 md:space-y-0"
  >
    <div
      class="md:col-span-2 {% if page.alternative-layout %} md:col-start-2 md:ml-36 {% endif %}"
    >
      <hr
        class="border-4 border-green-500 mx-auto md:mx-0 w-16 md:w-20 mb-2 md:mb-4"
      />
      <h3
        class="text-center md:text-left text-2xl md:text-4xl font-bold text-gray-600 mb-8"
      >
        {{ page.title }}
      </h3>
      <div
        class="hidden md:block max-w-prose text-xl font-light space-y-6 leading-relaxed"
      >
        {{ content }}
      </div>
    </div>
    <div
      class="{{ page.image-aspect-ratio }} -mx-4 md:mx-0 {% if page.alternative-layout %} md:col-start-1 md:row-start-1 {% endif %}"
    >
      <img
        class="{{ page.image-style }} mr-auto md:mt-6 md:rounded-xl md:shadow-lg border-t-4 border-b-4 md:border-4 border-gray-600"
        src="/assets/img/{{ page.image }}"
        loading="lazy"
        alt='Immagine per la sezione "{{ page.title }}"'
      />
    </div>
    <div
      class="md:hidden max-w-prose text-lg font-light space-y-4 pt-6 leading-relaxed"
    >
      {{ content }}
    </div>

    {% if quote %}
    <div class="md:col-span-3 pt-8 md:pt-16">{{ quote.output }}</div>
    {% endif %}
  </div>
</div>
