---
layout: "default"
menu_title: "Articoli"
---

<div class="py-4 md:py-12">
  <div
    class="2xl:container mx-auto px-4 flex flex-col md:grid md:grid-cols-3 gap-4"
  >
    <div
      class="md:col-span-2 max-w-prose text-xl font-light space-y-2 md:space-y-6 leading-relaxed order-2 md:order-1"
    >
      <hr
        class="border-4 border-green-500 mx-auto md:mx-0 w-16 md:w-20 mb-2 md:mb-4"
      />
      <h1
        class="text-center md:text-left text-2xl md:text-4xl font-bold text-gray-600"
      >
        {{ page.title }}
      </h1>
      {% if page.image %}
      <div
        class="-mx-4 md:mx-0 {% if page.alternative-layout %} md:col-start-1 md:row-start-1 {% endif %}"
      >
        <img
          class="w-full md:w-5/6 mr-auto md:mt-6 md:rounded-xl md:shadow-lg border-t-4 border-b-4 md:border-4 border-gray-600"
          src="/assets/img/{{ page.image }}"
          alt=""
        />
      </div>
      <!-- prettier-ignore -->
      {% endif %}
      {{ content }}
    </div>
    <div
      class="text-xl font-light space-y-2 md:space-y-6 leading-relaxed text-center md:text-left order-1 md:order-2"
    >
      <h2
        class="text-center md:text-left text-2xl md:text-2xl font-bold text-gray-400"
      >
        Tutti gli Articoli
      </h2>
      <ol>
        <!-- prettier-ignore -->
        {% for post in site.posts %}
        {% if page.url == post.url %}
        <li class="mb-4 text-gray-500 font-bold">{{ post.title }}</li>
        {% else %}
        <li class="mb-4 text-gray-500">
          <a href="{{ post.url }}" class="hover:underline hover:text-green-600"
            >{{ post.title }}</a
          >
        </li>
        {% endif %}
        <!-- prettier-ignore -->
        {% endfor %}
      </ol>
    </div>
  </div>
</div>
