<!-- prettier-ignore -->
{% if page.image %}
  {% assign class="grid grid-cols-3 md:grid-cols-5 gap-2 md:gap-4 pl-2 md:pl-0 rounded-lg border-l-4 md:border-l-0 border-green-300 md:shadow-2xl md:w-1/2 mx-auto" %}
{% else %}
  {% assign class="p-2 md:p-4 rounded-lg border-l-4 border-green-300 md:shadow-2xl md:w-1/2 mx-auto" %}
{% endif %}

<div class="{{ class }} {{ page.bg-color }}">
  <div class="md:hidden col-span-2 font-light">
    <span class="italic font-serif">{{ content }}</span>
    {{ page.author }}
  </div>
  {% if page.image %}
  <div class="h-0 aspect-w-3 aspect-h-4">
    <img
      class="
        object-cover
        rounded-lg
        md:rounded-l-lg md:rounded-r-none
        shadow-md
      "
      src="/assets/img/{{ page.image }}"
      alt=""
    />
  </div>
  {% endif %}
  <!-- prettier-ignore -->
  <div
    class="hidden md:block col-span-2 md:col-span-4 font-light {% if page.image %} pt-4 pr-2 pb-2 {% endif %}"
  >
    <span class="italic font-serif">{{ content }}</span>
    {{ page.author }}
  </div>
</div>
